##
# Same as the default NROM configuration provided by cc65, but with C stuff
# stripped away (e.g. namely, there are no more segments like 'STARTUP').

MEMORY {
    # iNES header
    HEADER: file = %O, start = $0000, size = $0010, fill = yes;

    # Fixed ROM.
    ROM0: file = %O, start = $8000, size = $7FFA, fill = yes, define = yes;

    # Hardware Vectors.
    ROMV: file = %O, start = $FFFA, size = $0006, fill = yes;

    # 1 8k CHR Bank
    ROM2: file = %O, start = $0000, size = $2000, fill = yes;
}

SEGMENTS {
    HEADER:   load = HEADER, type = ro;
    CODE:     load = ROM0,   type = ro, define = yes;
    VECTORS:  load = ROMV,   type = rw;
    CHARS:    load = ROM2,   type = rw;
}
